[hyoo_scout] {
	--mol_theme_current: hsl( 30, 93%, 90% );
	--mol_theme_control: hsl( 30 , 60% , 30% );
}

[hyoo_scout] [mol_theme="$mol_theme_base"] {
	--mol_theme_back: hsl( 30 , 90% , 50% );
	--mol_theme_text: white;
	--mol_theme_shade: rgba( 0 , 0 , 0 , .5 );
	--mol_theme_control: white;
	stroke: currentColor;
}

[hyoo_scout_filters] {
	flex: 1 1 200px;
}

[hyoo_scout_gists] {
	flex: 1 1 300px;
}

[hyoo_scout_gist] {
	flex: 1000 1 400px;
}

[hyoo_scout_placeholder] {
	flex: 1000 1 400px;
}

[hyoo_scout_filter_aspect] {
	padding: .5rem;
	display :flex;
	flex-direction: column;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
	background: var(--mol_theme_back);
}

[hyoo_scout_filter_aspect_title] {
	padding: .5rem;
	font-weight: 600;
}

[hyoo_scout_filter_aspect_tags] {
	display: flex;
	flex-direction: column;
}

[hyoo_scout_filter_tag] {
	padding-left: 1.5rem;
}

[hyoo_scout_filter_tag][mol_check_checked] {
	font-weight: 600;
}

[hyoo_scout_gists_list] {
	padding: .5rem;
}

[hyoo_scout_gist_link] {
	display: flex;
}

[hyoo_scout_gist_link_icon] {
	width: 2rem;
}

[hyoo_scout_gist_link_title] {
	flex: 1 1 auto;
}

[hyoo_scout_gist_content] {
	box-shadow: none;
}

[hyoo_scout_gist_aspect] {
	font-weight: 600;
}

[hyoo_scout_gist_aspect] > * {
	margin: 0 .5rem;
}

[hyoo_scout_tag_id="Любой"] { color: hsl( 40 , 80% , 50% ) }
[hyoo_scout_tag_id="Малыши"] { color: hsl( 340 , 80% , 50% ) }
[hyoo_scout_tag_id="Среднячки"] { color: hsl( 280 , 80% , 50% ) }
[hyoo_scout_tag_id="Старшаки"] { color: hsl( 40 , 80% , 50% ) }

[hyoo_scout_tag_id="Знакомство"] { color: hsl( 100 , 80% , 40% ) }
[hyoo_scout_tag_id="Раскрепощение"] { color: hsl( 160 , 80% , 40% ) }
[hyoo_scout_tag_id="Внимание"] { color: hsl( 220 , 80% , 50% ) }
[hyoo_scout_tag_id="Разминка"] { color: hsl( 280 , 80% , 50% ) }
[hyoo_scout_tag_id="Обратная связь"] { color: hsl( 340 , 80% , 50% ) }

[hyoo_scout_feedback] {
	padding: .5rem 1rem;
}

:not([mol_check_checked]) > [hyoo_scout_filter_tag_title] {
	color: var(--mol_theme_shade);
}

